html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

video {
    display: block;
    margin: 0 auto;
}